<div class="container footer-upper-block">
  <div class="footer-content">
    <div class="footer-list-wrapper">
      <ul class="footer-list">
        <li>About us</li>
        <li><a href="https://www.wealthsimple.com/en-ca/who-we-are" class="footer-link">Who we are</a></li>
        
      </ul>
    </div>
    <div class="footer-list-wrapper">
      <ul class="footer-list">
        <li>Learn more</li>
        <li><a href="https://www.wealthsimple.com/en-ca/details" class="footer-link">The Details</a></li>
        <li><a href="https://www.wealthsimple.com/en-ca/investing-101" class="footer-link">Investing 101</a></li>
        <li><a href="https://www.wealthsimple.com/en-ca/socially-responsible-investing" class="footer-link">Responsible investing</a></li>
        
        <li><a href="https://www.wealthsimple.com/en-ca/halal-investing" class="footer-link">Halal investing</a></li>
        
        <li><a href="https://www.wealthsimple.com/en-ca/black" class="footer-link">Wealthsimple Black</a></li>
        <li><a href="https://www.wealthsimple.com/en-ca/magazine" class="footer-link">Magazine</a></li>
        <li><a href="https://www.wealthsimple.com/en-ca/portfolio-review" class="footer-link">Financial Portfolio Review</a></li>
      </ul>
    </div>
    <div class="footer-list-wrapper">
      <ul class="footer-list">
        <li>Legal</li>
        <li><a href="https://www.wealthsimple.com/en-ca/legal/terms" class="footer-link">Terms of use</a></li>
        <li><a href="https://www.wealthsimple.com/en-ca/legal/privacy" class="footer-link">Privacy policy</a></li>
        
        <li><a href="https://www.wealthsimple.com/en-ca/legal/disclosure" class="footer-link">Full disclosure</a></li>
        
        <li><a href="https://www.wealthsimple.com/en-ca/legal/file-complaint" class="footer-link">File a complaint</a></li>
        
        
      </ul>
    </div>
    <div class="footer-list-wrapper social">
      <ul class="footer-list">
        <li>Download the App</li>
        <li class="app-icon app-icon-ios">
          <a href="https://wealthsimple.app.link/OdfWdQXv6H" target="_blank" class="" title="Download on the App Store">
            Download on the App Store
          </a>
        </li>
        <li class="app-icon app-icon-android">
          <a href="https://wealthsimple.app.link/UAIkaTZv6H" target="_blank" class="" title="Download on the App Store">
            Android app on Google Play
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="footer-divider"></div>
<div class="container footer-lower-block">
  <div class="footer-content">
    <div class="footer-list-wrapper footer-list-wrapper-contact">
      <ul class="footer-list">
        <li>Questions?</li>
        <li><a href="https://help.wealthsimple.com/hc/en-ca/" class="footer-link">Support centre</a></li>
        
      </ul>
    </div>
    <div class="footer-list-wrapper">
              
        <ul class="footer-list footer-list-with-active">
          <li>Language</li>
          <li onclick="ws.util.cookieSetGlobal(&#39;language_override&#39;, &#39;en&#39;, { &#39;max-age&#39;: 365*24*60*60 })">
            <a href="https://www.wealthsimple.com/en-ca/magazine" class="active footer-link">
              English
            </a>
          </li>
          <li onclick="ws.util.cookieSetGlobal(&#39;language_override&#39;, &#39;fr&#39;, { &#39;max-age&#39;: 365*24*60*60 })">
            <a href="https://www.wealthsimple.com/fr-ca/magazine" class=" footer-link">
              Français
            </a>
          </li>
        </ul>
      
    </div>
    <div class="footer-list-wrapper">
      <ul class="footer-list footer-list-with-active">
        <li>Country</li>
        <li class="country country-gb">
          <a href="https://www.wealthsimple.com/en-gb/magazine" class=""></a>
        </li>
        <li class="country country-us">
          <a href="https://www.wealthsimple.com/en-us/magazine" class=""></a>
        </li>
        <li class="country country-ca">
          <a href="https://www.wealthsimple.com/en-ca/magazine" class="active"></a>
        </li>
      </ul>
    </div>
    <div class="footer-list-wrapper social">
      <ul class="footer-list">
        <li>Social</li>
        <li class="footer-social-icon">
          <a href="https://www.facebook.com/wealthsimple" target="_footer" class="footer-link"><i class="ss-icon">facebook</i></a>
        </li>
        <li class="footer-social-icon">
          <a href="https://twitter.com/Wealthsimple" target="_footer" class="footer-link"><i class="ss-icon">twitter</i></a>
        </li>
        <li class="footer-social-icon">
          <a href="https://www.instagram.com/wealthsimple/" target="_footer" class="footer-link"><i class="ss-icon">instagram</i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-ws-for-links">
    
      <a href="https://www.wealthsimple.com/en-ca/advisors" class="footer-link footer-ws-for-links-link">Wealthsimple for Advisors</a>
    
    
      <a href="https://www.wealthsimple.com/en-ca/work" class="footer-link footer-ws-for-links-link">Wealthsimple for Work</a>
    
  </div>
</div>
<div class="footer-copyright risk-warning-en-ca">
  <p>Wealthsimple Inc. is a registered Portfolio Manager in Canada. Securities in your account are protected up to $1,000,000 CDN through the brokerages we use, which are Virtual Brokers, Division of BBS Securities Inc. and Canadian ShareOwner Investments Inc. See www.cipf.ca for more details. By using this website, you accept our Terms of Use and Privacy Policy. Copyright 2016 Wealthsimple Inc.</p>
  <p>Past performance is no guarantee of future results. Any historical returns, expected returns, or probability projections may not reflect actual future performance. All securities involve risk and may result in loss. Read our Full Disclosure for more details.</p>
</div>