<div class="container row row-vertical-center">
  <a href="/" class="header-logo">
    <img src="https://www.wealthsimple.com/assets/magazine/images/header/logo-010d4e6641c28141d4c88b71646b377a.svg" alt="Wealthsimple" class="header-logo-image">
    <img src="https://www.wealthsimple.com/assets/magazine/images/header/logo_small-6dccf727ddc595c19f73cecef3069936.svg" alt="Wealthsimple" class="header-logo-image-small">
  </a>

  <nav class="header-nav block-md">
    <ul class="row row-align-right row-align-center">
      <li><a class="header-nav-link active" href="/">Magazine</a></li>
      <li><a href="/" class="cta cta--www-init-onboarding header-nav-link button">Start investing</a></li>
    </ul>
  </nav>

  <a class="main-nav-hamburger hamburger-icon hide-md" data-hamburger-action="open">
    <div class="hamburger-icon-lines">
      <div class="hamburger-icon-line"></div>
      <div class="hamburger-icon-line"></div>
      <div class="hamburger-icon-line"></div>
    </div>
  </a>
</div>